@model iletisimViewModel
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
            @{
                if (ViewBag.bitis != null)
                {
                    <div class="alert alert-success">
                        @ViewBag.bitis
                    </div>
                }
            }


            <form class="row g-3 iletisim-form" asp-controller="home" asp-action="iletisim" method="post">
                <div class="col-md-6">
                    <label asp-for="Ad" class="form-label"></label>
                    <input class="form-control" asp-for="Ad" required>
                </div>
                 <div class="col-md-6">
                    <label asp-for="Soyad" class="form-label"></label>
                    <input class="form-control" asp-for="Soyad" required>
                </div>
                 <div class="col-md-6">
                    <label asp-for="Eposta" class="form-label"></label>
                    <input class="form-control" asp-for="Eposta">
                </div>
                 <div class="col-md-6">
                    <label asp-for="Telefon" class="form-label"></label>
                    <input class="form-control" asp-for="Telefon" required>
                </div>
                 <div class="col-md-6">
                    <label asp-for="Adres" class="form-label"></label>
                    <input class="form-control" asp-for="Adres">
                </div>
                 <div class="col-md-6">
                    <label asp-for="Konu" class="form-label"></label>
                    <input class="form-control" asp-for="Konu">
                </div>
                <div class="col-12">
                    <label asp-for="Mesaj" class="form-label"></label>
                    <textarea class="form-control" asp-for="Mesaj" rows="5" required></textarea>
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Gönder</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br />